/**** Desktop Site ****/ 
@media (min-width: 992px) {
	.col-lg-3 {
		width: 33.33%;
		float: left;
	}
}

/**** Tablet Site ****/
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-3 {
		width:  33.33%;
		float: left;
	}

	.third_box {
		clear: both;
	}
}

/**** Mobile Site ****/
@media (max-width: 767px) {

}