* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}

h1 {
	text-align: center;
}

/*.container {
	width: 100%;
  position: relative;
}*/

.inner-box {
	background-color: blue;
	width: 33.33%;
	position: relative;
	top: 19px;
	text-align: right;
}

p {
  background-color: #A52A2A;
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: white;
  border: 1px solid black;
  text-align: right;
}

/**** Desktop Site ****/ 
@media (min-width: 992px) {
	.col-lg-3 {
		width: 33.33%;
		float: left;
	}
}

/**** Tablet Site ****/
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-3 {
		width:  33.33%;
		float: left;
	}
	

	.third_box {
		clear: both;
	}
}

/**** Mobile Site ****/
@media (max-width: 767px) {

}